{{ define "about" }}
    <div id="module" class="container">
        <div>
            Gogrok 0.0.0
        </div>
        <hr/>
        <div>
            Copyright (c) 2024 Per Buer. All rights reserved.
        </div>
    </div>
{{ end }}
```