{{ define "externalDependencies" }}
    <div id="external-dependencies-content">
        <h2>External Dependencies</h2>
        <ul>
            {{ range .Dependencies }}
                <li>
                    {{ .Name }}
                    <ul>
                        {{ range .Packages }}
                            <li>{{ . }}</li>
                        {{ end }}
                    </ul>
                </li>
            {{ end }}
        </ul>
    </div>
{{ end }}
