<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go Modules Dependency Viewer</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/local-modules" hx-get="/local-modules" hx-target="#main-content">Local Modules</a>
            <a class="navbar-brand" href="/external-modules" hx-get="/external-modules" hx-target="#main-content">External Modules</a>
            <a class="navbar-brand" href="/about" hx-get="/about" hx-target="#main-content">About</a>
        </div>
    </nav>
</div>

<!-- Main Content goes here: -->
<div class="container" id="main-content">
No content here yet.
</div>


</body>
</html>
