{{ define "moduleFragment" }}
    <div id="module-content">
        <h3>{{ .Name }}</h3>
        <p>Packages: {{ .PackagesCount }}, Files: {{ .FilesCount }}, Lines of Code: {{ .LinesOfCode }}</p>
        <div>Packages:
            <ul>
                {{ range .Packages }}
                    <li><a href="#" hx-get="/package/{{ . }}" hx-target="#package-content">{{ . }}</a></li>
                {{ end }}
            </ul>
        </div>
    </div>
    <div id="package-content"></div>
{{ end }}
