{{ define "package" }}
    <div id="package">
        <h4>Package: {{ .Name }}</h4>
        Files:
        <ul>
            {{ range .Files }}
                <li><a href="#" hx-get="/file{{ .Module }}?package={{.Package}}&file={{.Name}}"
                       hx-target="#file">{{ .Name }}</a></li>
            {{ end }}
        </ul>
    </div>
    <div id="file">
    </div>
{{ end }}
