/* Existing styles */
body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #f9f9f9;
    color: #333;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
h1 {
    color: #0275d8;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    padding: 10px;
    border-bottom: 1px solid #eee;
}
a {
    color: #0275d8;
    text-decoration: none;
}

/* New styles */
.module-stats {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
.module-stats div {
    width: 50%; /* Ensure each list takes 50% of the horizontal space */
}
.stats-list {
    padding-left: 20px; /* Adjust padding as needed for alignment */
}
.stats-label {
    font-weight: bold;
}

/* Alert style for HTMX errors - bright red text on yellow background*/
.htmxerror {
    color: #ff0000;
    background-color: #ffff00;
}

/* Base styling scoped to code container */
.code-container {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 16px;
    color: #333333;
}

/* Code */
.code-container pre.go-code {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    overflow: auto;
    padding: 10px;
}

/* Now prefix all your other classes with .code-container to scope them correctly */
.code-container .go-keyword {
    color: #0000FF;
    font-weight: bold;
}

.code-container .go-comment {
    color: #008000;
    font-style: italic;
}


/* Strings */
.code-container .go-string {
    color: #A31515; /* Dark red */
}

/* Preprocessor statements (e.g., import, package) */
.code-container .go-preprocessor {
    color: #FF4500;
}

/* Types (e.g., int, bool, custom types) */
.code-container .go-type {
    color: #2B91AF;
}

.code-container .go-literal {
    color: #00008B; /* Dark blue */
}

.code-container .go-identifier {
    color: #6A3E3E;
}

/* Functions and method names */
.code-container .go-function {
    color: #008080;
}

/* Operators (e.g., +, -, *, /) */
.code-container .go-operator {
    color: #000000; /* Black, can adjust if needed */
}
