<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go Modules Dependency Viewer</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
    <h1>Go Modules Dependency Viewer</h1>
    <h2>Local Modules</h2>
    <ul>
        <!-- Dynamically generated list of local modules -->
        {{range .LocalModules}}
            <li>
                <a href="?module={{.Path}}">{{.Path}}</a>
                <div class="module-stats">
                    <div><span class="stats-label">Dependencies:</span> {{range .Dependencies}}{{.}}, {{end}}</div>
                    <div><span class="stats-label">Reverse Deps:</span> {{range .ReverseDependencies}}{{.}}, {{end}}</div>
                </div>
            </li>
        {{end}}
    </ul>
    <hr> <!-- Natural break between Local Modules and External Modules -->
    <h2>External Modules</h2>
    <ul>
        <!-- Dynamically generated list of external modules -->
        {{range .ExternalModules}}
            <li>
                <a href="viewmodule?module={{.Path}}">{{.Path}}</a>
                <div class="module-stats">
                    <div><span class="stats-label">Reverse <Deps></Deps>:</span> {{range .ReverseDependencies}}{{.}}, {{end}}</div>
                </div>
            </li>
        {{end}}
    </ul>
</div>
</body>
</html>
